html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    box-sizing: border-box;
    transition: 0.3s all ease-in-out;
    background-color: #25272c;
}

.container {
    max-width: 600px;
    width: 100%;
    display: flex;
    margin: auto;
}
.row {
    width: 100%;
    display: flex;
}
button.disabled,
button:disabled {
    opacity: 0.65;
}
.title-h2-white {
    color: #fff;
}
