.notification-container {
    position: absolute;
    right: 0px;
    bottom: 0;
}
.notification-message {
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 2px;
    margin-right: 15px;
}
.notification-message-element {
    margin: 0px;
}
.notification-message.success {
    border-left: 5px solid rgba(122, 194, 200, 0.5);
}
.notification-message.warning {
    border-left: 5px solid #dd4a68;
}
