.header {
    -webkit-box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%),
        0 1px 5px -2px rgb(152 162 179 / 30%);
    background: #fff;
    border-bottom: 1px solid #d3dae6;
    box-shadow: 0 2px 2px -1px rgb(152 162 179 / 30%),
        0 1px 5px -2px rgb(152 162 179 / 30%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100%;
    justify-content: space-between;
    top: 0px;
    flex-direction: column;
}
.headline-container {
    border-bottom: 1px solid #e7e7e7;
    padding-left: 32px;
}
.headline {
    margin: 0;
    font-size: 18px;
    line-height: 47px;
    color: #002e42;
    font-weight: 600;
}

.header-content {
    padding: 24px 32px;
}
.meta-container {
    justify-content: space-between;
    display: flex;
}
