.form_input {
    background: #f7f7f7;
    height: 30px;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
}
.form_label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #002e42;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.select-control {
    background: #f7f7f7;
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    height: 30px;
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.select-code-snippet .label-select {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    padding: 7px 8px;
    background: rgb(231, 231, 231) 30%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #002e42;
    cursor: pointer;
}

.dropdown-list {
    list-style: none;
    border: 1px solid #d6d6d6;
    padding: 10px 10px 10px 0px;
    position: absolute;
    z-index: 1000;
    background: #fff;
    width: 100%;
    margin-top: 3px;
    border-radius: 3px;
    display: none;
}
.dropdown-list-element {
    padding: 4px 10px 4px 5px;
}
.controller-code-snippet {
    max-width: 150px;
    width: 100%;
    position: relative;
}
